.vscode

.artifacts/**
.tmp/**

test-harness/.engine/**
test-harness/coldbox/**
test-harness/docbox/**
test-harness/testbox/**
test-harness/logs/**
test-harness/modules/**
test-harness/.env

# log files
logs/**